page-details {
    ion-card{
        width : 100vw !important;
        margin : auto !important;
    }
    .myImg{
        width : 80%;
        right: 20%;
        margin: auto;
    }
    .iconRed{
        color: red;
    }

    ion-footer{
        margin-left: 10%;

    }

}
