<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
    <ion-title >{{productDetails.title }}</ion-title>
    <ion-buttons end>
      <button ion-button><ion-icon name="share"></ion-icon></button>
      <button (click)="openCart()" ion-button><ion-icon name="cart"></ion-icon></button>

    </ion-buttons>
  
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-slides pager autoplay="1000" loop="true">
      <ion-slide *ngFor="let picture of productDetails.pictures " >
        <img class="myImg" [src]="picture"  #imagePic (click)="showImage(picture ,$event)">
      </ion-slide>
   </ion-slides>
   <ion-card-content>
    <ion-card-title>
      <ion-chip color="primary">
        <ion-label>
          {{productDetails.category}}
        </ion-label>
      </ion-chip>
      <ion-chip *ngIf="productDetails.availability.available" color="secondary">
        <ion-label>
          Disponible
        </ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label *ngIf="!productDetails.availability.available" color="danger">
          Non Disponible
        </ion-label >
      </ion-chip>
      <ion-chip >
        <ion-label>
          {{productDetails.city}}
        </ion-label >
      </ion-chip>
      <ion-chip>
        <ion-label>
          {{productDetails.state}}
        </ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>
          {{productDetails.availability.type}}
        </ion-label>
      </ion-chip>
    </ion-card-title>
    <p> prix en Ariary:{{productDetails.price | currency}}</p>
      <p>
        <span *ngIf="productDetails.averageStar >=1" >
          <ion-icon class="iconRed" name ="star">

          </ion-icon>
        </span>
        <span *ngIf="productDetails.averageStar >=2" >
            <ion-icon class="iconRed" name ="star">

            </ion-icon>
        </span>
        <span *ngIf="productDetails.averageStar >=3"  name ="star">
          <ion-icon class="iconRed" name ="star"></ion-icon>
        </span>
        <span *ngIf="productDetails.averageStar >=4" >
            <ion-icon class="iconRed" name ="star">

            </ion-icon>
        </span>
        <span *ngIf="productDetails.averageStar >=5" >
           <ion-icon class="iconRed" name ="star">

           </ion-icon>
         </span>
      </p>
      <p>{{productDetails.description}}</p>
   </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer >
  <ion-row>
    <ion-col offset-A col-10>
      <button (click)="addToCart(productDetails)" ion-button round large>
        <ion-icon name="cart"></ion-icon>&nbsp;
      Ajouter au panier
      </button>

    </ion-col>
  </ion-row>
</ion-footer>
